$primary-font:'Grandesign Neue Roman';

@font-face {
    font-family:$primary-font ;
    src: url('/client/public/fonts/Grandesign\ Neue\ Roman.ttf') format(ttf);
}

*{
    font-size: 16px;
    font-family: $primary-font;
}

@import '../scss/login.scss';
@import '../scss/buttons.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';