.menu{
    position: fixed;
    z-index: 100;
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #182E46;
    width: 10%;
    color:#fff;
    height: 100%;
    div{
        cursor: pointer;
        text-align: left;
        margin:0 0 0 0.4em;
        font-size: 3.125em;

    }
}

.rotate-l90{
    transform: rotate(90deg);
}